In [6]:
1+2

3

In [3]:
3/2.4

1.25

In [4]:
3*9

27

In [7]:
#파이썬은 따로 변수설정을 위한 예약어가 필요없다. (ex, int a;)
a=1
b=2
a+b

3

In [8]:
a="Python"
print(a)

Python

In [18]:
a=4
if a>1:
    print("a is a greater than 1")
elif a<1:
    print("a is a smaller than 1")

a is a greater than 1

In [14]:
#반복문
sum = 0
for a in [1,2,3]:    #[1,2,3]이라는 리스트의 앞에서부터 하나씩 꺼내어 a라는 변수에 대입한후 프린트를 수행하라.
    print(a)

1
2
3

In [23]:
i=0
while i<3:
    i=i+1
    print(i)

1
2
3

In [25]:
a=3
b=4
a*b

12

In [27]:
a+b

7

In [29]:
a/b

0.75

In [35]:
multiline = '''
Life is too short 
You need Python
'''

In [38]:
print(multiline)   #print를 쓰고 안 쓰고 무슨차이?   이건 사용자가 출력하라고 아예 명령한것.

Life is too short
You need Python

In [40]:
multiline    #이건 사용자가 명령해서 나온값이 아닌 파이썬자체가 값을 출력해준것.

'\nLife is too short \nYou need Python\n'

In [42]:
print("="*50)
print("My program")
print("="*50)

==================================================
My program
==================================================

In [53]:
a="Life is too short, You need Python"
print(a[0])
print(a[12])
print(a[-1])
print(a[:11])
print(a[:])

L
s
n
Life is too
Life is too short, You need Python

In [60]:
#중간의 문자를 바꾸는 유일한 방법이다.. 문자열의 요소값을 따로 바꿀수있는 기능은없다.
a="Pithon"
a[:1]+'y'+a[2:]

'Python'

In [62]:
#문자열 포매핑(formatting)
"I eat %d apples." %3

'I eat 3 apples.'

In [81]:
"I eat %s apples." %"five"

'I eat five apples.'

In [1]:
#고급 문자열 포맷팅 
"I eat {0}apples".format(3)

'I eat 3apples'

In [3]:
"{0} ate {1}".format(input("주어를 입력해주세요 = "),input("목적어를 입력해주세요 = "))

주어를 입력해주세요 = He
목적어를 입력해주세요 = banana

'He ate banana'

In [66]:
#10칸의 글안에서 우로 정렬..  좌로정렬은 %-10s
"%10s"% "hi"

'        hi'

In [68]:
#문자열 삽입 .join   abcd라는 글자 사이에 a에 들어가있는 내용을 삽입함.
a=','
a.join('abcd')

'a,b,c,d'

In [70]:
#소문자를 대문자로
a="hi"
a.upper()

'HI'

In [73]:
#대문자를 소문자로
a="HI"
a.lower()

'hi'

In [83]:
#문자열 바꾸기 ("바뀌게 될 문자열", "바꿀문자열")
a= "Life is short, You need Python"
a.replace("Life is short", "I like Python")

'I like Python, You need Python'

In [85]:
a=['a','b','c']
a.reverse()
a

['c', 'b', 'a']

In [89]:
#조건문
money = 0
if money:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

걸어 가라

In [15]:
def sum(a,b):
    return a+b
a=3
b=4
c=sum(a,b)
print(c)

7

In [8]:
print("첫번째 숫자를 입력하시오:")
a=int(input())
print("두번째 숫자를 입력하시오:")
b=int(input())
result=sum(a,b)
print("두 수의 합은..")
print(result)

첫번째 숫자를 입력하시오:
3
두번째 숫자를 입력하시오:
4

TypeError: 'int' object is not iterable

In [3]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [102]:
#리턴을 쓰지 않았으므로 결과값이 없다. 그래서 None으로 출력되는것. 이렇게 결과값이 없는 함수는 그냥 함수명(입력1,,,)이런식으로 쓴다.
def sum(a,b):
    print("%d,%d의 합은 %d입니다."%(a,b,a+b))
sum(3,4)
a=sum(3,4)
print(a)

3,4의 합은 7입니다.
3,4의 합은 7입니다.
None

In [2]:
#입력값이 몇 개가 될지 모를때 쓰는 방법.... (*입력파라미터)
#입력파라미터 명 앞에 *을 붙이면 입력값들을 전부 모아서 튜플로 만들어 주기 때문이다.
def sum_many(*args):
    sum = 0
    for i in args:
        sum = sum+i
    return sum
result = sum_many(1,2,3,4,5,6,7,8,9)
print(result)

45

In [118]:
def sum_mul(choice, *args):
    if choice=='sum':
        result = 0
        for i in args:
            result+=i
    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
    return result
result = sum_mul('sum',1,2,3,4,5)
print(result)

15

In [1]:
#리턴값으로 둘을 잡으면 튜플값은 하나인 (a+b, a*b)로 돌려준다.
def sum_mul(a,b):
    return a+b, a*b
result = sum_mul(3,4)
print(result)

(7, 12)

In [8]:
#문자열 위치 알려주기
a = "life is too short"
print(a.index('l'))     #find와 달리 존재하지않는 문자나 문자열의 경우 오류를 발생시킨다.
print(a.find('t'))
#문자열 삽입
b = ","
print(b.join("abcdefg"))

0
8
a,b,c,d,e,f,g

In [18]:
a= "Hi, My Name is KyW"
a.lower()

'hi, my name is kyw'

In [49]:
a=[1,2,3]
print(a)
print(a[0]+a[2])
b=[1,2,3,['a','b','c']]
print(b[-1])
print(b[-1][2])
print(a+b)

#'숫자+문자'하면 오류가 나므로 '문자+문자'로 해줘야한다.
print(str(a[1])+b[3][1])

#리스트의 요소 및 범위 수정가능   _삭제도 가능하다.(del)
a[1]=4
print(a)
a[1:2] = [3,4,5]
a
a.remove(3)
a
a.remove(3)
a
a.pop()
a

[1, 2, 3]
4
['a', 'b', 'c']
c
[1, 2, 3, 1, 2, 3, ['a', 'b', 'c']]
2b
[1, 4, 3]

[1, 4]

In [52]:
#while문 연습
treeHit = 0
while treeHit<10:
    treeHit += 1
    print("나무를 %d번 찍었습니다."%treeHit)
    if treeHit==10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [61]:
number = 0
while number != 4:
    print("Enter number:")
    number = int(input())

Enter number:
1
Enter number:
2
Enter number:
3
Enter number:
4

In [72]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee - 1
    print("남은 커피의 양은 %d개 입니다"%coffee)
    if not coffee:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개 입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개 입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개 입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개 입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개 입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개 입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개 입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개 입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개 입니다
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개 입니다
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [73]:
coffee = 10

while True:
    money = int(input("돈을 넣어주세요."))
    if money == 300:
        print("커피를 줍니다")
        coffee = coffee -1
        print("남은 잔은 %d잔 입니다."%coffee)
    elif money > 300:
        print("거스름 돈 %d원을 주고 커피를 줍니다."%(money-300))
        coffee = coffee -1
        print("남은 잔은 %d잔 입니다."%coffee)
    else:
        print("잔액이 부족합니다.")
        print("남은 커피의 양은 %d잔 입니다."%coffee)
    if not coffee:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break;

돈을 넣어주세요.300
커피를 줍니다
남은 잔은 9잔 입니다.
돈을 넣어주세요.300
커피를 줍니다
남은 잔은 8잔 입니다.
돈을 넣어주세요.300
커피를 줍니다
남은 잔은 7잔 입니다.
돈을 넣어주세요.300
커피를 줍니다
남은 잔은 6잔 입니다.
돈을 넣어주세요.300
커피를 줍니다
남은 잔은 5잔 입니다.
돈을 넣어주세요.300
커피를 줍니다
남은 잔은 4잔 입니다.
돈을 넣어주세요.300
커피를 줍니다
남은 잔은 3잔 입니다.
돈을 넣어주세요.300
커피를 줍니다
남은 잔은 2잔 입니다.
돈을 넣어주세요.300
커피를 줍니다
남은 잔은 1잔 입니다.
돈을 넣어주세요.300
커피를 줍니다
남은 잔은 0잔 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [5]:
#조건에 맞지 않는 경우 맨 처음으로 돌아가기.
a = 0
while a<10:
    a = a+1
    if a%2==0:continue
    print(a)

1
3
5
7
9

In [ ]:
#무한루프
while True:
    print("Ctrl+C를 눌러야 while문을 빠져나갈 수 있습니다.")

In [2]:
#for 문의 기본적 구조
#for 변수 in 리스트(또는 튜플, 문자열):
#   수행할 문장...
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [4]:
a=[(1,2),(3,4),(5,6)]
for (first,last) in a:
    print(first+last)

3
7
11

In [18]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number+1
    if mark >= 60:
        print("%d번 학생은 합격입니다"%number)
    else:
        print("%d번 학생은 불합격입니다.\n"%number)
    if mark<60:continue
    print("%d번 학생 축하합니다.\n"%number)
    
    #continue에 대한 이해필요..

1번 학생은 합격입니다
1번 학생 축하합니다.

2번 학생은 불합격입니다.

3번 학생은 합격입니다
3번 학생 축하합니다.

4번 학생은 불합격입니다.

5번 학생은 합격입니다
5번 학생 축하합니다.

In [20]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number]<60:continue
    print("%d번 학생 축하합니다. 합격입니다."%(number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [14]:
a = range(10)
a

range(0, 10)

In [21]:
#for문에서 쓰는 범위함수.
sum = 0
for i in range(1,11):
    sum = sum+i
print(sum)

55

In [42]:
#반복문 이용한 구구단
for i in range(2,10):
    for j in range(1,10):
        print("%dx%d="%(i,j),i*j,end='\n')
        #= print("{0}x{1}=".format(i,j),i*j,end='\n')
        
    print('')

2x1= 2
2x2= 4
2x3= 6
2x4= 8
2x5= 10
2x6= 12
2x7= 14
2x8= 16
2x9= 18

3x1= 3
3x2= 6
3x3= 9
3x4= 12
3x5= 15
3x6= 18
3x7= 21
3x8= 24
3x9= 27

4x1= 4
4x2= 8
4x3= 12
4x4= 16
4x5= 20
4x6= 24
4x7= 28
4x8= 32
4x9= 36

5x1= 5
5x2= 10
5x3= 15
5x4= 20
5x5= 25
5x6= 30
5x7= 35
5x8= 40
5x9= 45

6x1= 6
6x2= 12
6x3= 18
6x4= 24
6x5= 30
6x6= 36
6x7= 42
6x8= 48
6x9= 54

7x1= 7
7x2= 14
7x3= 21
7x4= 28
7x5= 35
7x6= 42
7x7= 49
7x8= 56
7x9= 63

8x1= 8
8x2= 16
8x3= 24
8x4= 32
8x5= 40
8x6= 48
8x7= 56
8x8= 64
8x9= 72

9x1= 9
9x2= 18
9x3= 27
9x4= 36
9x5= 45
9x6= 54
9x7= 63
9x8= 72
9x9= 81

In [33]:
msg = "Life is short"
print(msg)
print(msg.split())

Life is short
['Life', 'is', 'short']

In [35]:
input()

1

'1'

In [37]:
1

1

In [ ]:
input("이름을 입력하세요"'\n')

#리스트는 삽입, 삭제, 추가 등이 가능 / 실수,정수,문자열 등을 같은 리스트 안에 담을 수 있다.
#튜플은 수정자체가 불가능
#문자열도 한번 설정하면 안에있는 내용을 수정하는 함수가 없다. 따로 조작해야함. (C/C++과 다르다.)
#파이썬은 문자열의 특정요소를 바꾸는 행위를 금지함.
#int, float, boolean, list는 mutable하다.
#C/C++은 대부분 mutable하다.

In [1]:
nobles = ['helium','none', 'argon', 'krypton', 'xenon', 'radon']
nobles[1] = 'neon'   #메모리가 none의 주소값을 지우고 neon의 주소값을 받음..(객체의 주소를 달리받는 것이지 단순히 값이 바뀐것이 아니다)
nobles

['helium', 'neon', 'argon', 'krypton', 'xenon', 'radon']

In [12]:
#upper를 쓰면 소문자가 바뀐것이라기보다 대문자로 바뀌는 리턴을 받는 것이라 생각해야함
#즉, 대소가 섞여있는원래 문자는 바뀌는 것이아니라 각각의 메소드를 만나며 그에 맞는 리턴값을 받는것.
#Ex,
name = "Darwin"
name.upper()
name.swapcase()

'dARWIN'

In [9]:
#메소드가 리턴값으로 그것으로 돌려주되 원래값은 바뀌지않는다. 
#즉, a를 바꾸지 않고 a를 가지고 복사본을 가지고 메소드의 리턴값만 보여줄뿐이다.
#즉, 나중에 a를 다시 Run해도 원래의 a값은 변하지 않는다.
a = [2, 4, 1, 7, 3]
len(a)
max(a)
min(a)
sorted(a)
sorted(a,reverse = True)
a

[2, 4, 1, 7, 3]

In [11]:
b = ['a', 'b', 1, 2]
max(b)
#숫자와 문자열은 비교가 불가능하다.

TypeError: '>' not supported between instances of 'int' and 'str'

In [1]:
s='Hello world'
'He' in s

True

#리스트에 리스트를 assign하는 것은 복사를 하지 않는것이다... 똑같은 주소를 가리키기 때문에 한쪽을 바꾸면 다른쪽도 바뀐다...
#ppt의 셀레간페노타입 = 셀레간얼리어싱  의 경우...
#슬라이싱 [:]을 사용하면 복사가된다.. 그래서 한쪽이 값을 바꾼다고 복사값이 바뀌는것이 아니다.
#List in List로 Table을 만들수 있다.

#함수가 입력으로 받은 값은 Local Variable이 아니다. 파이썬은 함수에게 어떤값을 전달하면 함수에서 그 값을 수정했을 때 함수를 마치고 돌아올 경우 어떤값이 변해있다. C/C++은 복사본을 함수에 주는 것이므로 원본은 그대로 있다.

#리스트는 내장함수를 이용하면 원본에 대한 내용을 리턴만 할뿐 원본엔 수정사항이 없고
사용자정의함수, 메소드를 이용하면 함수의 내용을 리턴하고 원본의 내용 또한 함수의 내용대로 수정됨. (사실, 다 해보고 직접 눈으로 봐야한다.)

In [10]:
list = ['A', 'B', 'C', 'D', 'F', 'E']

a= 'A' in list
a

True


먼저 datetime 패키지를 다음과 같이 임포트한다.

In [1]:
import datetime
datetime.datetime 클래스¶
우선 datetime.datetime 클래스부터 알아보자. 패키지 이름과 클래스 이름이 datetime으로 같기 때문에 사용할 때 주의해야 한다. 또한 다른 클래스와 달리 클래스 이름이 대문자로 시작하지 않는다. datetime.datetime 클래스에는 객체를 생성하지 않고도 바로 클래스에서 사용할 수 있는 클래스 메서드라는 것을 제공한다. 가장 대표적인 것이 현재 시각을 출력하는 now() 메서드이다.

In [2]:
dt = datetime.datetime.now()
dt
datetime.datetime(2018, 8, 30, 1, 26, 55, 731039)
now() 클래스 메서드는 컴퓨터의 현재 시각을 datetime.datetime 클래스 객체로 만들어 반환한다. datetime.datetime 클래스 객체는 다음과 같은 속성을 가진다.

year: 연도
month: 월
day: 일
hour: 시
minute: 분
second: 초
microsecond: 마이크로초(micro seconds, 백만분의 일초)
In [3]:
dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second, dt.microsecond
(2018, 8, 30, 1, 26, 55, 731039)
다음과 같은 메서드도 제공한다.

weekday(): 요일 반환 (0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일)
strftime(): 문자열 반환
date(): 날짜 정보만 가지는 datetime.date 클래스 객체 반환
time(): 시간 정보만 가지는 datetime.time 클래스 객체 반환
In [4]:
dt.weekday()  # {0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일}
3
이 중 특히 많이 사용되는 것이 날짜와 시간 정보를 문자열로 바꿔주는 strftime() 메서드이다. 이 메서드는 어떤 형식으로 문자열을 만들지 결정하는 형식 문자열을 인수로 받는다. 형식 문자열은 날짜 및 시간 지정 문자열을 포함한다. 다음은 많이 사용되는 날짜 및 시간 지정 문자열이다.

날짜 및 시간 지정 문자열	의미
%Y	앞의 빈자리를 0으로 채우는 4자리 연도 숫자
%m	앞의 빈자리를 0으로 채우는 2자리 월 숫자
%d	앞의 빈자리를 0으로 채우는 2자리 일 숫자
%H	앞의 빈자리를 0으로 채우는 24시간 형식 2자리 시간 숫자
%M	앞의 빈자리를 0으로 채우는 2자리 분 숫자
%S	앞의 빈자리를 0으로 채우는 2자리 초 숫자
%A	영어로 된 요일 문자열
%B	영어로 된 월 문자열
표 3.2.3 : 날짜 및 시간 지정 문자열
이밖의 다른 날짜 및 시간 지정 문자열에 대해서는 다음 링크를 참조한다.

In [5]:
dt.strftime("%A %d. %B %Y")
'Thursday 30. August 2018'
In [6]:
print(dt.strftime("%H시 %M분 %S초"))
01시 26분 55초
반대로 문자열로부터 날짜와 시간 정보를 읽어서 datetime.datetime 클래스 객체를 만들 수도 있다. 이 때는 datetime.datetime.strptime() 클래스 메서드를 사용한다. 첫 번째 인수로는 날짜와 시간 정보를 가진 문자열을, 두번째 인수로는 그 문자열을 해독할 수 있는 형식 문자열을 넣는다.

In [7]:
datetime.datetime.strptime("2017-01-02 14:44", "%Y-%m-%d %H:%M")
datetime.datetime(2017, 1, 2, 14, 44)
dateutil 패키지¶
datetime.datetime.strptime() 클래스 메서드를 사용할 때는 문자열에 맞는 형식 문자열을 사용자가 제공해야 한다. 그러나 dateutil 패키지의 parse 명령을 쓰면 자동으로 형식 문자열을 찾아 datetime.datetime 클래스 객체를 만들어 준다.

In [8]:
from dateutil.parser import parse
In [9]:
parse('2016-04-16')
datetime.datetime(2016, 4, 16, 0, 0)
In [10]:
parse("Apr 16, 2016 04:05:32 PM")
datetime.datetime(2016, 4, 16, 16, 5, 32)
다만 월과 일이 모두 12보다 작은 숫자일 때는 먼저 나오는 숫자를 월로 나중에 나오는 숫자를 일로 판단한다.

In [11]:
parse('6/7/2016')
datetime.datetime(2016, 6, 7, 0, 0)
timedelta 클래스와 날짜/시간 연산¶
날짜나 시간의 간격을 구할 때는 두 개의 datetime.datetime 클래스 객체의 차이를 구한다. 이 결과는 datetime.timedelta 클래스 객체로 반환된다.

In [12]:
dt1 = datetime.datetime(2016, 2, 19, 14)
dt2 = datetime.datetime(2016, 1, 2, 13)
td = dt1 - dt2
td
datetime.timedelta(48, 3600)
datetime.timedelta 클래스는 다음과 같은 속성과 메서드를 가진다.

속성

days: 일수
seconds: 초 (0 ~ 86399)
microseconds: 마이크로초 (0 and 999999)
메서드

total_seconds(): 모든 속성을 초단위로 모아서 변환
In [13]:
td.days, td.seconds, td.microseconds
(48, 3600, 0)
In [14]:
td.total_seconds()
4150800.0
반대로 datetime.datetime 클래스 객체에 datetime.timedelta 클래스 객체를 더해서 새로운 시간을 구할 수도 있다.

In [15]:
t0 = datetime.datetime(2018, 9, 1, 13)
d = datetime.timedelta(days=90, seconds=3600)
In [16]:
t0 + d
datetime.datetime(2018, 11, 30, 14, 0)