In [2]:
observations_file = open('observations.txt')
birds_observed = set()
for line in observations_file:
    bird = line.strip()
    birds_observed.add(bird)
    
print(birds_observed)

{'snow goose', 'northern fulmar', 'long-tailed jaeger', 'canada goose'}

In [4]:
observations_file = open('observations.txt')
bird_counts = []
for line in observations_file:
    bird = line.strip()
    found = False
    
    #Find bird in the list of bird counts
    for entry in bird_counts:
        if entry[0] == bird:
            entry[1] = entry[1] + 1
            found = True
    if not found:
        bird_counts.append([bird, 1])

observations_file.close()
for entry in bird_counts:
    print(entry[0], entry[1])

canada goose 5
long-tailed jaeger 2
snow goose 1
northern fulmar 1

In [6]:
observations_file = open('observations.txt')
bird_to_observations = {}

for line in observations_file:
    bird = line.strip()
    if bird in bird_to_observations:
        bird_to_observations[bird] = bird_to_observations[bird] + 1
    else:
        bird_to_observations[bird] = 1
        
observations_file.close()

for bird, observations in bird_to_observations.items():
    print(bird, observations)

canada goose 5
long-tailed jaeger 2
snow goose 1
northern fulmar 1

In [8]:
observations_file = open('observations.txt')
bird_to_observations = {}

for line in observations_file:
    bird = line.strip()
    bird_to_observations[bird] = bird_to_observations.get(bird, 0)+1    
observations_file.close()

for bird, observations in bird_to_observations.items():
    print(bird, observations)

canada goose 5
long-tailed jaeger 2
snow goose 1
northern fulmar 1

In [10]:
sorted_birds = sorted(bird_to_observations.keys())
for bird in sorted_birds:
    print(bird, bird_to_observations[bird])

canada goose 5
long-tailed jaeger 2
northern fulmar 1
snow goose 1

In [14]:
observations_to_birds_list = {}
for bird, observations in bird_to_observations.items():
    if observations in observations_to_birds_list:
        observations_to_birds_list[observations].append(bird)
    else:
        observations_to_birds_list[observations] = [bird]

In [1]:
observations_sorted = sorted(observations_to_birds_list.keys())
for observations in observations_sorted:
    print(observations, ":", end="")
    for bird in observations_to_birds_list[observations]:
        print(" ", bird, end ="")
    print()

NameError: name 'observations_to_birds_list' is not defined

In [4]:
#리스트와 딕셔너리 정렬하기

import operator

print("----------------")
print("list sorting")
list = [10, 30, 50, 20]
print(list)
list2 = list
list.sort()
print(list2)

print("----------------")
print("simple dictionary sorting")
dic1 = {'영희':80, '철수':90, '혜영':70}
print(dic1)
print('딕셔너리 - VALUE 로 소팅')
dic2 = sorted(dic1.items(), key=operator.itemgetter(1))
print(dic2)

print('딕셔너리 - KEY로 소팅')
dic2 = sorted(dic1.items(), key=operator.itemgetter(0))
print(dic2)

print("----------------")
print('tuple 배열로 이뤄진 딕셔너리를 소팅 하기')

data = {}
data['영희'] = (80, 95, 90)
data['철수'] = (90, 80, 70)
data['영희'] = (70, 100, 90)

print(data)

print('tuple 의 1번째 항목으로 소팅')
data2 = sorted(data.items(), key=lambda x : x[1][0], reverse = False)
print(data2)

print("----------------")
print('딕셔너리 배열로 이뤄진 딕셔너리를 정렬하기')
data['영희'] = {'국어':80, '수학': 95,'영어': 90}
data['철수'] = {'국어':90, '수학': 80,'영어': 70}
data['영희'] = {'국어':70, '수학': 100,'영어': 90}
print(data)

print("국어 성적으로 소팅")
data2 = sorted(data.items(), key = lambda x:x[1]['국어'], reverse=False)
print(data2)

print("영어 성적으로 소팅")
data2 = sorted(data.items(), key = lambda x:x[1]['영어'], reverse=False)
print(data2)

----------------
list sorting
[10, 30, 50, 20]
[10, 20, 30, 50]
----------------
simple dictionary sorting
{'영희': 80, '철수': 90, '혜영': 70}
딕셔너리 - VALUE 로 소팅
[('혜영', 70), ('영희', 80), ('철수', 90)]
딕셔너리 - KEY로 소팅
[('영희', 80), ('철수', 90), ('혜영', 70)]
----------------
tuple 배열로 이뤄진 딕셔너리를 소팅 하기
{'영희': (70, 100, 90), '철수': (90, 80, 70)}
tuple 의 1번째 항목으로 소팅
[('영희', (70, 100, 90)), ('철수', (90, 80, 70))]
----------------
딕셔너리 배열로 이뤄진 딕셔너리를 정렬하기
{'영희': {'국어': 70, '수학': 100, '영어': 90}, '철수': {'국어': 90, '수학': 80, '영어': 70}}
국어 성적으로 소팅
[('영희', {'국어': 70, '수학': 100, '영어': 90}), ('철수', {'국어': 90, '수학': 80, '영어': 70})]
영어 성적으로 소팅
[('철수', {'국어': 90, '수학': 80, '영어': 70}), ('영희', {'국어': 70, '수학': 100, '영어': 90})]

In [9]:
a = {}

a['key'] = 3
print(a)

b = {'aa':[2,3,4]}
print(b['aa'][0])

{'key': 3}
2